html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; font-family: 'Montserrat', sans-serif; }
body, ul, ol, p, li, blockquote, h1, h2, h3 { margin: 0; padding: 0; }
li { list-style-type: none; }
a { font: inherit; text-decoration: none; color: inherit; }
img { max-width: 100%; height: auto; }
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden; }

body { min-width: 320px; margin: 0 auto; }
main > section, .container, body > footer { margin: 0 auto;}
*, *::before, *::after { color: #333333; }
main { overflow: hidden; }
// b { font-weight: bold; }

.container { 
  max-width: 1200px;
  padding: 0 20px;
  @media (min-width: 1440px) {
    padding: 0 100px;
  }
}

$primary-color: #1D8FCF;
$secondary-color: #065CC5;
$container-padding-hor: 20px;
$secondary-font-family: 'Raleway', sans-serif;

.accent {
  color: $secondary-color;
}

.desktop,
.tablet {
  display: none;
}
.mobile {
  display: block;
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
  }
}
h1 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 50px;
  }
  @media (min-width: 1440px) {
    margin-top: 65px;
    margin-bottom: 20px;
  }
}
h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 40px;
  }
  @media (min-width: 1440px) {
    font-size: 41px;
    line-height: 50px;
  }
}

.button {
  // max-width: 290px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $secondary-font-family;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  background: linear-gradient(164.36deg, #D6430D 12.92%, #F3870B 125.87%);
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  box-shadow: none;
  transition: box-shadow ease-in .3s;
  &:hover {
    box-shadow: 0 0 10px 5px #D6430D;
    transition: all ease-out .3s;
  }
}

.slick-dots li button:before {
  font-size: 16px;
}
.slick-dots li.slick-active button:before {
  font-size: 16px;
  color: $secondary-color;
  transform: scale(1.3);
}

@import "_header";
@import "_promo";
@import "_seven-days";
@import "_secret";
@import "_warranty";
@import "_description";
@import "_composition";

@import "_form";
